export default
[
  {
    id:'bitcoin',
    symbol:'BTC',
    port:9334,
    img:'/img/bitcoin.png',
    server:'sha256.p2p-spb.xyz:'
   
  },
  {
    id:'binance-peg-litecoin',
    symbol:'LTC',
    port:9327,
    img:'/img/ltc.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'dash',
    symbol:'DASH',
    port:7903,
    img:'/img/dash.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'bitcoin-cash',
    symbol:'BCH',
    port:9338,
    img:'/img/bch.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'bitcoin-cash-sv',
    symbol:'BSV',
    port:6339,
    img:'/img/bsv.png',
    server:'sha256.p2p-spb.xyz:'
  },
    {
    id:'ecash',
    symbol:'XEC',
    port:9340,
    img:'/img/ecash.png',
    server:'sha256.p2p-spb.xyz:'
  },
   {
    id:'bitcoin-atom',
    symbol:'BCA',
    port:3027,
    img:'/img/atom.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'bitcoin-atom',
    symbol:'RUBTC',
    port:6353,
    img:'/img/rubtc.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'monacoin',
    symbol:'MONA',
    port:2942,
    img:'/img/monacoin.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'dogecoin',
    symbol:'DOGE',
    port:4556,
    img:'/img/doge.png',
    server:'p2p-spb.xyz:'
  },
   {
    id:'flourmix',
    symbol:'FLO',
    port:5210,
    img:'/img/flo.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'einsteinium',
    symbol:'EMC2',
    port:3039,
    img:'/img/emc2.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'goldcoin',
    symbol:'GLC',
    port:8124,
    img:'/img/goldcoin.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'axe',
    symbol:'AXE',
    port:7923,
    img:'/img/axe.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'cannabiscoin',
    symbol:'CANN',
    port:28741,
    img:'/img/cann.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'imagecash',
    symbol:'IMGC',
    port:7905,
    img:'/img/imgc.png',
    server:'p2p-spb.xyz:'
  },
   {
    id:'boringdao-btc',
    symbol:'OBTC',
    port:3021,
    img:'/img/obtc.png',
    server:'p2p-spb.xyz:'
  },
    {
    id:'pigeoncoin',
    symbol:'PGN',
    port:6104,
    img:'/img/pgn.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'bitcore',
    symbol:'BTX',
    port:3017,
    img:'/img/bitcore.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'mecro-coin',
    symbol:'MEC',
    port:3019,
    img:'/img/mec.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'bitsend',
    symbol:'BSD',
    port:7011,
    img:'/img/bsd.png',
    server:'p2p-spb.xyz:'
  },
 {
    id:'garlicoin',
    symbol:'GRLC',
    port:5213,
    img:'/img/garli.png',
    server:'p2p-spb.xyz:'
  },

  {
    id:'vertcoin',
    symbol:'VTC',
    port:9171,
    img:'/img/vtc.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'suqa',
    symbol:'SIN',
    port:3225,
    img:'/img/sin.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'rito',
    symbol:'RITO',
    port:16101,
    img:'/img/rito.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'title-network',
    symbol:'TNET',
    port:6108,
    img:'/img/tnet.png',
    server:'p2p-spb.xyz:'
  },
    {
    id:'litecoin-cash',
    symbol:'LCC(sha256)',
    port:5555,
    img:'/img/lcc.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'litecoin-cash',
    symbol:'LCC(minotaurX)',
    port:5557,
    img:'/img/lcc.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'auroracoin',
    symbol:'AUR(sha256)',
    port:12349,
    img:'/img/aurora.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'auroracoin',
    symbol:'AUR(qubit)',
    port:12355,
    img:'/img/aurora.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'auroracoin',
    symbol:'AUR(scrypt)',
    port:12347,
    img:'/img/aurora.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'auroracoin',
    symbol:'AUR(groestl)',
    port:12351,
    img:'/img/aurora.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'auroracoin',
    symbol:'AUR(skein)',
    port:12353,
    img:'/img/aurora.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'digibyte',
    symbol:'DGB(sha256)',
    port:5027,
    img:'/img/dgb.png',
    server:'sha256.p2p-spb.xyz:'
  },
  {
    id:'digibyte',
    symbol:'DGB(qubit)',
    port:5023,
    img:'/img/dgb.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'digibyte',
    symbol:'DGB(scrypt)',
    port:5025,
    img:'/img/dgb.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'digibyte',
    symbol:'DGB(skein)',
    port:5029,
    img:'/img/dgb.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'digibyte',
    symbol:'DGB(odo)',
    port:5031,
    img:'/img/dgb.png',
    server:'p2p-spb.xyz:'
  },  
  {
    id:'argentum',
    symbol:'ARG(groestl)',
    port:9553,
    img:'/img/arg.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'argentum',
    symbol:'ARG(lyra2re2)',
    port:9557,
    img:'/img/arg.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'argentum',
    symbol:'ARG(argon2d)',
    port:9552,
    img:'/img/arg.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'argentum',
    symbol:'ARG(yescrypt)',
    port:9554,
    img:'/img/arg.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'myriadcoin',
    symbol:'XMY(argon2d)',
    port:6002,
    img:'/img/myr.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'utopia',
    symbol:'CRP',
    port:8112,
    img:'/img/crp.png',
    server:'p2p-spb.xyz:'

  },
   {
    id:'cpuchain',
    symbol:'CPU',
    port:18114,
    img:'/img/cpu.png',
    server:'p2p-spb.xyz:'
  },
  {
    id:'cpuchain',
    symbol:'RNG',
    port:18116,
    img:'/img/ring.png',
    server:'p2p-spb.xyz:'
  },


  /*{
    id:'bitcoin-cash-abc-2',
    symbol:'BCHA',
    port:9340,
    img:'/img/abc.png'
  },

   {
    id:'titan-coin',
    symbol:'TTN',
    port:16113,
    img:'/img/ttn.png'
  },
    {
    id:'chunghoptoken',
    symbol:'CHC',
    port:16103,
    img:'/img/chc.png'
  },

  {
    id:'pyrk',
    symbol:'PYRK(yespower)',
    port:6353,
    img:'/img/pyrk.png'
  },
  {
    id:'veles',
    symbol:'VLS(scrypt)',
    port:6012,
    img:'/img/veles.png'
  },
  {
    id:'veles',
    symbol:'VLS(x11)',
    port:6014,
    img:'/img/veles.png'
  },
  {
    id:'veles',
    symbol:'VLS(sha256)',
    port:6016,
    img:'/img/veles.png'
  },
  {
    id:'veles',
    symbol:'VLS(lyra2z)',
    port:6018,
    img:'/img/veles.png'
  },
  {
    id:'veles',
    symbol:'VLS(nist5)',
    port:6020,
    img:'/img/veles.png'
  },
  {
    id:'veles',
    symbol:'VLS(x16r)',
    port:6022,
    img:'/img/veles.png'
  },*/
]